html {
  /* Theme */
  --background: #2e3035;

  /* Scrollbar */
  --scrollbar: #2b2d31;
  --scrollbarThumb: #1a1b1e;

  /*Colors*/
  --accent: #a5103b;
  --success: #00a023;
  --danger: #af0636;
  --warning: #ce9700;
  --progress: #C7C9CA;

  /* Text */
  --text: #f5f5f5;
  --textSecondary: #C7C9CA;
  
  /* Buttons */
  --button: #1a1b1e;
  --buttonIconFilter: brightness(0) invert();

  /* Window */
  --windowButtonHover: #393b41;
  --windowExitHover: #ED4245;

  /* Modules */
  --moduleSelectedFilter: invert(7%) sepia(6%) saturate(1078%) hue-rotate(188deg) brightness(99%) contrast(91%);
}