html {
  /*THEME*/
  --menu: #202225;
  --background: #2F3136;
  --scrollbar: #202225;
  --scrollbar2: #20222569;
  --accent: #a5103b;
  --success: #00a023;
  --danger: #af0636;
  --warning: #ce9700;
  --progress: #C7C9CA;
  /*TEXT*/
  --text1: #f5f5f5;
  --text2: #C7C9CA;
  /*BUTTON*/
  --button: #202225;
  /*MODULE*/
  --module: #383a3f;
  --moduleFilter: brightness(0) invert(1); /*https://angel-rs.github.io/css-color-filter-generator/*/
  /*TITLE BAR BUTTONS*/
  --topText: #f5f5f5;
  --topHover: #393b41;
  --topExitHover: #ED4245;
}