  /*$$$$$  /$$$$$$$  /$$$$$$  /$$$$$$  /$$   /$$
 /$$__  $$| $$__  $$|_  $$_/ /$$__  $$| $$$ | $$
| $$  \ $$| $$  \ $$  | $$  | $$  \ $$| $$$$| $$
| $$  | $$| $$$$$$$/  | $$  | $$  | $$| $$ $$ $$
| $$  | $$| $$__  $$  | $$  | $$  | $$| $$  $$$$
| $$  | $$| $$  \ $$  | $$  | $$  | $$| $$\  $$$
|  $$$$$$/| $$  | $$ /$$$$$$|  $$$$$$/| $$ \  $$
 \______/ |__/  |__/|______/ \______/ |__/  \__/

 /$$$$$$$$ /$$$$$$$   /$$$$$$  /$$      /$$ /$$$$$$$$ /$$      /$$  /$$$$$$  /$$$$$$$  /$$   /$$
| $$_____/| $$__  $$ /$$__  $$| $$$    /$$$| $$_____/| $$  /$ | $$ /$$__  $$| $$__  $$| $$  /$$/
| $$      | $$  \ $$| $$  \ $$| $$$$  /$$$$| $$      | $$ /$$$| $$| $$  \ $$| $$  \ $$| $$ /$$/ 
| $$$$$   | $$$$$$$/| $$$$$$$$| $$ $$/$$ $$| $$$$$   | $$/$$ $$ $$| $$  | $$| $$$$$$$/| $$$$$/  
| $$__/   | $$__  $$| $$__  $$| $$  $$$| $$| $$__/   | $$$$_  $$$$| $$  | $$| $$__  $$| $$  $$  
| $$      | $$  \ $$| $$  | $$| $$\  $ | $$| $$      | $$$/ \  $$$| $$  | $$| $$  \ $$| $$\  $$ 
| $$      | $$  | $$| $$  | $$| $$ \/  | $$| $$$$$$$$| $$/   \  $$|  $$$$$$/| $$  | $$| $$ \  $$
|__/      |__/  |__/|__/  |__/|__/     |__/|________/|__/     \__/ \______/ |__/  |__/|__/  \__/

             /$$$$$$      /$$$$$$      /$$$$$$ 
            /$$__  $$    /$$$_  $$    /$$$_  $$
 /$$    /$$|__/  \ $$   | $$$$\ $$   | $$$$\ $$
|  $$  /$$/   /$$$$$/   | $$ $$ $$   | $$ $$ $$
 \  $$/$$/   |___  $$   | $$\ $$$$   | $$\ $$$$
  \  $$$/   /$$  \ $$   | $$ \ $$$   | $$ \ $$$
   \  $/   |  $$$$$$//$$|  $$$$$$//$$|  $$$$$$/
    \_/     \______/|__/ \______/|__/ \______/ 





 /*$      /$$           /$$
| $$$    /$$$          |__/
| $$$$  /$$$$  /$$$$$$  /$$ /$$$$$$$ 
| $$ $$/$$ $$ |____  $$| $$| $$__  $$
| $$  $$$| $$  /$$$$$$$| $$| $$  \ $$
| $$\  $ | $$ /$$__  $$| $$| $$  | $$
| $$ \/  | $$|  $$$$$$$| $$| $$  | $$
|__/     |__/ \_______/|__/|__/  |_*/

@font-face { font-family: Main; src: url('Data/Fonts/Main.ttf'); }
@font-face { font-family: Display; src: url('Data/Fonts/Display.ttf'); }

html {
  height: 100%;
  width: 100%;

  background: var(--background);
  color: var(--text);
  fill: var(--text);
  
  font-family: Main;
  font-size: var(--textSize);

  overflow: hidden;
  user-select: none;
  scroll-behavior: smooth;

  /* Theme */
  --background: #18191c;
  --menu: var(--background);  /* used in dialogs */

  /* Scrollbar */
  --scrollbar: #f5f5f569;
  --scrollbarThumb: #f5f5f5;
  --scrollbarSize: 16px;
  
  /*Colors*/
  --accent: #cc1d4e;
  --success: #00a023;
  --danger: #af0636;
  --warning: #ce9700;
  --progress: #C7C9CA;
  
  /* Text */
  --text: #f5f5f5;
  --textSecondary: #afb1b3;
  --textHint: var(--textSecondary);
  --textWindowButton: var(--text);
  --textSize: 15px;

  /* Buttons */
  --button: #202225;
  --buttonBorderColor: transparent;
  --buttonBorderWidth: 0px;
  --buttonIconFilter: brightness(0) invert();

  /* Window */
  --windowMarginTop: 0px; /* margin used in context menus & dialogs (the size of the title bar, basically to not interfere with it) */
  --windowButtonHover: #2a2e33;
  --windowExitHover: #ED4245;

  /* Other */
  --hover: #ffffff10;
  --shadowS: rgba(0, 0, 0, 0.16) 0px 1px 4px; /* small shadow */
  --shadowB: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(126, 126, 126, 0.3) 0px 0px 0px 1px; /* big shadow */
}

body {
  height: 100%; 
  width: 100%;

  margin: 0;
  padding: 0;
}

::selection {
  background: var(--accent);
}





  /*$$$$$                                /$$ /$$ /$$
 /$$__  $$                              | $$| $$| $$
| $$  \__/  /$$$$$$$  /$$$$$$   /$$$$$$ | $$| $$| $$$$$$$   /$$$$$$   /$$$$$$
|  $$$$$$  /$$_____/ /$$__  $$ /$$__  $$| $$| $$| $$__  $$ |____  $$ /$$__  $$
 \____  $$| $$      | $$  \__/| $$  \ $$| $$| $$| $$  \ $$  /$$$$$$$| $$  \__/
 /$$  \ $$| $$      | $$      | $$  | $$| $$| $$| $$  | $$ /$$__  $$| $$
|  $$$$$$/|  $$$$$$$| $$      |  $$$$$$/| $$| $$| $$$$$$$/|  $$$$$$$| $$
 \______/  \_______/|__/       \______/ |__/|__/|_______/  \_______/|_*/

::-webkit-scrollbar {
  width: var(--scrollbarSize);
  height: var(--scrollbarSize);
  background: var(--scrollbar);
  border-radius: calc(var(--scrollbarSize) / 2);
  border: solid 4px transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
  border-radius: calc(var(--scrollbarSize) / 2);
  border: solid 4px transparent;
  background-clip: content-box;
  transition: border .3s;
}

::-webkit-scrollbar-thumb:hover {
  border: solid 3px transparent;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}





  /*$$$$$                        /$$               /$$                                        
 /$$__  $$                      | $$              |__/                                        
| $$  \__/  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$ /$$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$
| $$       /$$__  $$| $$__  $$|_  $$_/   |____  $$| $$| $$__  $$ /$$__  $$ /$$__  $$ /$$_____/
| $$      | $$  \ $$| $$  \ $$  | $$      /$$$$$$$| $$| $$  \ $$| $$$$$$$$| $$  \__/|  $$$$$$ 
| $$    $$| $$  | $$| $$  | $$  | $$ /$$ /$$__  $$| $$| $$  | $$| $$_____/| $$       \____  $$
|  $$$$$$/|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$| $$  | $$|  $$$$$$$| $$       /$$$$$$$/
 \______/  \______/ |__/  |__/   \___/   \_______/|__/|__/  |__/ \_______/|__/      |______*/

/* Horizontal container*/
.hc {
  display: flex;
  flex-direction: row;
}

/* Vertical container */
.vc {
  display: flex;
  flex-direction: column;
}





 /*$$$$$$                     
| $$__  $$                    
| $$  \ $$  /$$$$$$  /$$   /$$
| $$$$$$$  /$$__  $$|  $$ /$$/
| $$__  $$| $$  \ $$ \  $$$$/ 
| $$  \ $$| $$  | $$  >$$  $$ 
| $$$$$$$/|  $$$$$$/ /$$/\  $$
|_______/  \______/ |__/  \_*/

.o-box {
  --oWidth: 36px;
  --oHeight: 36px;
  --oColor: var(--text);
  --oBackground: var(--button);
  --oCorner: calc(var(--oHeight) / 2);
  --oBorderC: var(--buttonBorderColor);
  --oBorderW: var(--buttonBorderWidth);

  width: var(--oWidth);
  height: var(--oHeight);

  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  appearance: none;
  cursor: auto;
  
  fill: var(--oColor);
  color: var(--oColor);
  background: var(--oBackground);
  border-radius: var(--oCorner);
  outline: var(--oBorderW) solid var(--oBorderC);
  outline-offset: calc(-1 * var(--oBorderW));
}

.o-box[transparent] {
  --oBackground: transparent;
  border-radius: 0; /*--oCorner: 0;*/
  --oBorderC: transparent;
  --oBorderW: 0;
}

/* Hover */
o-hover {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  background-color: var(--hover);
  
  pointer-events: none;

  transition: opacity .1s;
}

.o-box:not([hover=none]):not([transparent]):hover > o-hover {
  opacity: 1;
}

.o-box:not([hover=none]):not([transparent]) {
  cursor: pointer;
}





 /*$$$$$$              /$$     /$$
| $$__  $$            | $$    | $$
| $$  \ $$ /$$   /$$ /$$$$$$ /$$$$$$    /$$$$$$  /$$$$$$$
| $$$$$$$ | $$  | $$|_  $$_/|_  $$_/   /$$__  $$| $$__  $$
| $$__  $$| $$  | $$  | $$    | $$    | $$  \ $$| $$  \ $$
| $$  \ $$| $$  | $$  | $$ /$$| $$ /$$| $$  | $$| $$  | $$
| $$$$$$$/|  $$$$$$/  |  $$$$/|  $$$$/|  $$$$$$/| $$  | $$
|_______/  \______/    \___/   \___/   \______/ |__/  |_*/

.o-button {
  --oIconFilter: var(--buttonIconFilter);
  --oIconSize: calc(var(--oHeight) - 16px);

  width: fit-content;
  min-width: var(--oWidth);
  height: var(--oHeight);
  min-height: var(--oHeight);

  padding-left: var(--oCorner);
  padding-right: var(--oCorner);
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;

  font-size: var(--textSize);
  line-height: var(--oHeight);
}

.o-button:not([text=""]) > span[text] {
  flex: 1;
  text-align: center;
}

/* Type */
.o-button[type=border] {
  --oBorderC: var(--oBackground);
  --oBorderW: 3px;

  background: transparent;
}

.o-button[type=ghost] {
  --oBorderC: transparent;

  background: transparent;
}

/* Size */
.o-button[size=medium] {
  --oHeight: 40px;
  --oIconSize: calc(var(--oHeight) - 19px);
}

.o-button[size=big] {
  --oHeight: 50px;
  --oIconSize: calc(var(--oHeight) - 24px);
}

.o-button[size=medium] > .o-input {
  --oHeight: 40px;
}

.o-button[size=big] > .o-input {
  --oHeight: 50px;
}

/* Icons */
.o-button > img, 
.o-button > svg {
  --oIconMargin: calc((var(--oHeight) - var(--oIconSize)) / 2);

  width: var(--oIconSize);
  height: var(--oIconSize);
  
  -webkit-user-drag: none;

  filter: var(--oIconFilter);

  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.o-button > img[lefticon], .o-button > svg[lefticon] {
  margin: var(--oIconMargin) calc((var(--oCorner) - var(--oIconMargin)));
  margin-left: calc((var(--oCorner) - var(--oIconMargin)) * -1);
}

.o-button > img[righticon], .o-button > svg[righticon] {
  margin: var(--oIconMargin) calc((var(--oHeight) / 2 - var(--oIconMargin)));
  margin-right: calc((var(--oHeight) / 2 - var(--oIconMargin)) * -1);
}

.o-button[nofilter] > img[lefticon], 
.o-button[nofilter] > img[righticon],
.o-button[nofilter] > svg[lefticon], 
.o-button[nofilter] > svg[righticon] {
  filter: none;
}

.o-button:not([text]):not([righticon])[lefticon], 
.o-button:not([text]):not([lefticon])[righticon] {
  padding-left: 0;
  padding-right: 0;
}

.o-button:not([text]):not([righticon])[lefticon] > img[lefticon],
.o-button:not([text]):not([righticon])[lefticon] > svg[lefticon] {
  margin: var(--oIconMargin);
  margin-left: var(--oIconMargin);
}

.o-button:not([text]):not([lefticon])[righticon] > img[righticon],
.o-button:not([text]):not([lefticon])[righticon] > svg[righticon] {
  margin: var(--oIconMargin);
  margin-right: var(--oIconMargin);
}





  /*$$$$$
 /$$__  $$
| $$  \ $$  /$$$$$$   /$$$$$$  /$$$$$$  /$$   /$$
| $$$$$$$$ /$$__  $$ /$$__  $$|____  $$| $$  | $$
| $$__  $$| $$  \__/| $$  \__/ /$$$$$$$| $$  | $$
| $$  | $$| $$      | $$      /$$__  $$| $$  | $$
| $$  | $$| $$      | $$     |  $$$$$$$|  $$$$$$$
|__/  |__/|__/      |__/      \_______/ \____  $$
                                        /$$  | $$
                                       |  $$$$$$/
                                        \_____*/

.o-array {
  min-width: max-content;
  width: max-content;

  position: relative;
  display: flex;
  flex-direction: row;
}

.o-array > .o-button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.o-array > .o-button:not(:first-of-type):not(:last-of-type) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.o-array > .o-button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Only normal size allowed in arrays */
.o-array .o-button[size=medium], .o-array .o-button[size=big] {
  --oHeight: 36px;
}





  /*$$$$$                /$$   /$$               /$$      
 /$$__  $$              |__/  | $$              | $$      
| $$  \__/ /$$  /$$  /$$ /$$ /$$$$$$    /$$$$$$$| $$$$$$$ 
|  $$$$$$ | $$ | $$ | $$| $$|_  $$_/   /$$_____/| $$__  $$
 \____  $$| $$ | $$ | $$| $$  | $$    | $$      | $$  \ $$
 /$$  \ $$| $$ | $$ | $$| $$  | $$ /$$| $$      | $$  | $$
|  $$$$$$/|  $$$$$/$$$$/| $$  |  $$$$/|  $$$$$$$| $$  | $$
 \______/  \_____/\___/ |__/   \___/   \_______/|__/  |_*/

.o-switch {
  --oWidth: 50px;
  --oHeight: 30px;
  --oThumb: 20px;
  --oThumbSpace: calc((var(--oHeight) - var(--oThumb)) / 2);
  
  min-width: var(--oWidth);
  min-height: var(--oHeight);
  width: var(--oWidth);
  height: var(--oHeight);
}

.o-switch > input {
  width: 100%;
  height: 100%;

  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
}

.o-switch > input::before {
  content: '';
  width: calc(var(--oHeight) - 10px);
  height: calc(var(--oHeight) - 10px);

  position: absolute;
  top: var(--oThumbSpace);
  left: var(--oThumbSpace);

  border-radius: var(--oHeight);
  background: var(--oColor);

  transition: left .2s;
}

.o-switch > input:checked::before {
  left: calc(var(--oWidth) - var(--oThumb) - var(--oThumbSpace));
}

.o-switch > input:disabled::before {
  opacity: 0.5;
}





  /*$$$$$  /$$                           /$$       /$$                          
 /$$__  $$| $$                          | $$      | $$                          
| $$  \__/| $$$$$$$   /$$$$$$   /$$$$$$$| $$   /$$| $$$$$$$   /$$$$$$  /$$   /$$
| $$      | $$__  $$ /$$__  $$ /$$_____/| $$  /$$/| $$__  $$ /$$__  $$|  $$ /$$/
| $$      | $$  \ $$| $$$$$$$$| $$      | $$$$$$/ | $$  \ $$| $$  \ $$ \  $$$$/ 
| $$    $$| $$  | $$| $$_____/| $$      | $$_  $$ | $$  | $$| $$  | $$  >$$  $$ 
|  $$$$$$/| $$  | $$|  $$$$$$$|  $$$$$$$| $$ \  $$| $$$$$$$/|  $$$$$$/ /$$/\  $$
 \______/ |__/  |__/ \_______/ \_______/|__/  \__/|_______/  \______/ |__/  \_*/

.o-checkbox {
  --oWidth: 30px;
  --oHeight: 30px;
  --oCorner: 10px;
  --oThumb: 20px;
  --oThumbSpace: calc((var(--oHeight) - var(--oThumb)) / 2);
  
  min-width: var(--oWidth);
  min-height: var(--oHeight);
  width: var(--oWidth);
  height: var(--oHeight);
}

.o-checkbox > input {
  width: 100%;
  height: 100%;
  
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
}

.o-checkbox > input::before {
  content: '';
  width: calc(var(--oHeight) - 14px);
  height: calc(var(--oHeight) - 14px);
  
  position: absolute;
  top: 7px;
  left: 7px;
  
  border-radius: calc(var(--oCorner) / 2);
  background: transparent;

  transition: background .2s;
}

.o-checkbox > input:checked::before {
  background: var(--oColor);
}

.o-checkbox > input:disabled::before {
  opacity: 0.5;
}





 /*$$$$$$                  /$$ /$$          
| $$__  $$                | $$|__/          
| $$  \ $$  /$$$$$$   /$$$$$$$ /$$  /$$$$$$ 
| $$$$$$$/ |____  $$ /$$__  $$| $$ /$$__  $$
| $$__  $$  /$$$$$$$| $$  | $$| $$| $$  \ $$
| $$  \ $$ /$$__  $$| $$  | $$| $$| $$  | $$
| $$  | $$|  $$$$$$$|  $$$$$$$| $$|  $$$$$$/
|__/  |__/ \_______/ \_______/|__/ \_____*/

.o-radio {
  --oWidth: 30px;
  --oHeight: 30px;
  --oThumb: 20px;
  --oThumbSpace: calc((var(--oHeight) - var(--oThumb)) / 2);
  
  min-width: var(--oWidth);
  min-height: var(--oHeight);
  width: var(--oWidth);
  height: var(--oHeight);
}

.o-radio > input {
  width: 100%;
  height: 100%;
  
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
}

.o-radio > input::before {
  content: '';
  width: calc(var(--oHeight) - 14px);
  height: calc(var(--oHeight) - 14px);
  
  position: absolute;
  top: 7px;
  left: 7px;
  
  border-radius: calc(var(--oHeight) / 2);
  background: transparent;

  transition: background .2s;
}

.o-radio > input:checked::before {
  background: var(--oColor);
}

.o-radio > input:disabled::before {
  opacity: 0.5;
}





 /*$$$$$                                 /$$
|_  $$_/                                | $$
  | $$   /$$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$
  | $$  | $$__  $$ /$$__  $$| $$  | $$|_  $$_/
  | $$  | $$  \ $$| $$  \ $$| $$  | $$  | $$
  | $$  | $$  | $$| $$  | $$| $$  | $$  | $$ /$$
 /$$$$$$| $$  | $$| $$$$$$$/|  $$$$$$/  |  $$$$/
|______/|__/  |__/| $$____/  \______/    \___/
                  | $$
                  | $$
                  |_*/

.o-input {
  --oPaddingLeft: var(--oCorner);
  --oPaddingRight: var(--oCorner);
  --oTextSize: var(--textSize);
  --oWidth: 200px;
  
  width: var(--oWidth);
  height: var(--oHeight);
}

.o-input[transparent] {
  --oPaddingLeft: 0;
  --oPaddingRight: 0;
}

.o-input > input {
  min-width: var(--oWidth);
  min-height: var(--oHeight);
  width: 100%;
  height: 100%;

  position: relative;
  margin: 0;
  padding: 0;
  padding-left: var(--oPaddingLeft);
  padding-right: var(--oPaddingRight);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  cursor: text;

  background: transparent;
  border: none;
  outline: none;

  color: var(--oColor);
  font-size: var(--oTextSize);
  font-family: Main;
}

.o-input > input::placeholder {
  color: var(--textHint);
}

.o-input > input:disabled {
  opacity: 0.5;
}

.o-input > span[label] {
  position: absolute;
  top: calc(var(--oHeight) * 0.05);
  left: var(--oPaddingLeft);
  font-size: calc(var(--oTextSize) * 0.6);
  line-height: calc(var(--oTextSize) * 0.6);
  color: var(--textSecondary);
  pointer-events: none;
  opacity: 0;
  transform: translateY(5px);
}

.o-input[label] > span[label] {
  transition: opacity 0.2s, transform 0.2s;
}

.o-input[label] > input:not(:placeholder-shown) ~ span[label] {
  transform: translateY(0px);
  opacity: 1;
}

/* Size */
.o-input[size=medium] {
  --oHeight: 40px;
}

.o-input[size=big] {
  --oHeight: 50px;
}




  /*$$$$$                      /$$       /$$                          
 /$$__  $$                    | $$      | $$                          
| $$  \__/  /$$$$$$   /$$$$$$ | $$   /$$| $$$$$$$   /$$$$$$   /$$$$$$ 
|  $$$$$$  /$$__  $$ /$$__  $$| $$  /$$/| $$__  $$ |____  $$ /$$__  $$
 \____  $$| $$$$$$$$| $$$$$$$$| $$$$$$/ | $$  \ $$  /$$$$$$$| $$  \__/
 /$$  \ $$| $$_____/| $$_____/| $$_  $$ | $$  | $$ /$$__  $$| $$      
|  $$$$$$/|  $$$$$$$|  $$$$$$$| $$ \  $$| $$$$$$$/|  $$$$$$$| $$      
 \______/  \_______/ \_______/|__/  \__/|_______/  \_______/|_*/

.o-seekbar {
  --oWidth: 200px;
  --oHeight: 12px;
  --oColor: var(--text);
  --oBackground: var(--button);
  --oCorner: calc(var(--oHeight) / 2);

  width: var(--oWidth);
  height: var(--oHeight);

  margin: 0;
  padding: 0;
  position: relative;
}

.o-seekbar > input {
  width: 100%;
  height: 100%;
  appearance: none;
  background: var(--oBackground);
  border-radius: var(--oCorner);
  transition: all .2s;
}

.o-seekbar > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: transparent;
  border: solid 9px var(--oColor);
  background-clip: content-box;
  cursor: pointer;
  transition: all .2s;
}

.o-seekbar > input:not(:disabled):-webkit-slider-thumb:hover {
  border: solid 4px var(--oColor);
}

.o-seekbar > input:disabled::-webkit-slider-thumb {
  opacity: 0.5;
}





 /*$                                 /$$ /$$                    
| $$                                | $$|__/                    
| $$        /$$$$$$   /$$$$$$   /$$$$$$$ /$$ /$$$$$$$   /$$$$$$ 
| $$       /$$__  $$ |____  $$ /$$__  $$| $$| $$__  $$ /$$__  $$
| $$      | $$  \ $$  /$$$$$$$| $$  | $$| $$| $$  \ $$| $$  \ $$
| $$      | $$  | $$ /$$__  $$| $$  | $$| $$| $$  | $$| $$  | $$
| $$$$$$$$|  $$$$$$/|  $$$$$$$|  $$$$$$$| $$| $$  | $$|  $$$$$$$
|________/ \______/  \_______/ \_______/|__/|__/  |__/ \____  $$
                                                       /$$  \ $$
                                                      |  $$$$$$/
                                                       \_____*/ 

.o-loading {
  --oColor: var(--text);
  --oSize: 30px;

  width: var(--oSize); 
  height: var(--oSize);
  min-width: var(--oSize); 
  min-height: var(--oSize);
  position: relative;
  box-sizing: border-box;
  border-radius: calc(var(--oSize) / 2);
}

/* Default */
.o-loading:not([type=dots]):not([type=spin]):not([type=pulse]) {
  --oSize: 30px;

  border: 2px solid transparent;
  border-top: 2px solid var(--oColor);
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Dots */
.o-loading[type=dots] {
  --oSize: 10px;

  margin: 0 calc(var(--oSize) * 2);
  background: var(--oColor);
  animation: dots .8s infinite;
}

.o-loading[type=dots]::before,
.o-loading[type=dots]::after {
  content: '';

  width: var(--oSize); 
  height: var(--oSize);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  border-radius: calc(var(--oSize) / 2);
  background: var(--oColor);
  pointer-events: none;
  transform: translateX(calc(var(--oSize) * 2));

}

.o-loading[type=dots]::before {
  animation: dot .8s infinite;
  transform: translateX(calc(var(--oSize) * -2));
}

@keyframes dot {
  0% { transform: translateX(calc(var(--oSize) * -2)); }
  100% { transform: translateX(calc(var(--oSize) * 4)); }
}

@keyframes dots {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(var(--oSize) * -2)); }
}

/* Spin */
.o-loading[type=spin] {
  --oSize: 30px;
  
  border: 2px solid transparent;
  border-top: 2px solid var(--oColor);
  animation: spin 1.5s linear infinite;
}

.o-loading[type=spin]::before {
  content: '';
  width: calc(var(--oSize) - 10px);
  height: calc(var(--oSize) - 10px);
  margin: 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top: 2px solid var(--oColor);
  animation: spin 3s linear infinite;
}

.o-loading[type=spin]::after {
  content: '';
  width: calc(var(--oSize) - 20px);
  height: calc(var(--oSize) - 20px);
  margin: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top: 2px solid var(--oColor);
  animation: spin 1s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Pulse */
.o-loading[type=pulse] {
  --oSize: 20px;

  background: var(--oColor);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { box-shadow: var(--oColor) 0 0 0 0; }
  60% { box-shadow: transparent 0 0 0 8px; }
}










 /*$   /$$             /$$     /$$          
| $$$ | $$            | $$    |__/          
| $$$$| $$  /$$$$$$  /$$$$$$   /$$  /$$$$$$$
| $$ $$ $$ /$$__  $$|_  $$_/  | $$ /$$_____/
| $$  $$$$| $$  \ $$  | $$    | $$|  $$$$$$ 
| $$\  $$$| $$  | $$  | $$ /$$| $$ \____  $$
| $$ \  $$|  $$$$$$/  |  $$$$/| $$ /$$$$$$$/
|__/  \__/ \______/    \___/  |__/|______*/

.o-noti {
  --oCorner: 20px;
  --oBackground: var(--button);

  min-width: 180px;
  max-width: 270px;
  height: fit-content;

  padding: 15px;
  
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: fixed;
  bottom: 20px;
  right: 20px;

  box-shadow: var(--shadowB);
  animation: notiAppear .2s;
  cursor: pointer;
  z-index: 99997;

  transition: opacity 0.5s;
}

@keyframes notiAppear {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

.o-noti[hidden] {
  opacity: 0;
  pointer-events: none;
}

.o-noti div:nth-child(1) {
  width: 25px; 
  height: 25px; 

  position: absolute; 
  top: 10px; 
  right: 10px; 


  line-height: 25px; 
  font-size: 12px; 
  text-align: center; 
  font-family: Arial, Monospaced;

  border-radius: 20px;
  opacity: 0;

  transition: all .3s;
}

.o-noti:hover div:nth-child(1) {
  opacity: 1;
}

.o-noti div:nth-child(1):hover {
  background: var(--hover);
}

.o-noti div:nth-child(2), .o-noti div:nth-child(3) {
  width: fit-content;
  line-height: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.o-noti div:nth-child(2) {
  max-width: calc(100% - 30px);
  font-size: 16px;
  line-clamp: 1;
  color: var(--text);
}

.o-noti div:nth-child(3) {
  max-width: 100%;
  font-size: 14px;
  line-clamp: 2;
  color: var(--textSecondary);
}





  /*$$$$$  /$$$$$$$$ /$$   /$$       /$$      /$$                              
 /$$__  $$|__  $$__/| $$  / $$      | $$$    /$$$                              
| $$  \__/   | $$   |  $$/ $$/      | $$$$  /$$$$  /$$$$$$  /$$$$$$$  /$$   /$$
| $$         | $$    \  $$$$/       | $$ $$/$$ $$ /$$__  $$| $$__  $$| $$  | $$
| $$         | $$     >$$  $$       | $$  $$$| $$| $$$$$$$$| $$  \ $$| $$  | $$
| $$    $$   | $$    /$$/\  $$      | $$\  $ | $$| $$_____/| $$  | $$| $$  | $$
|  $$$$$$/   | $$   | $$  \ $$      | $$ \/  | $$|  $$$$$$$| $$  | $$|  $$$$$$/
 \______/    |__/   |__/  |__/      |__/     |__/ \_______/|__/  |__/ \_____*/

.o-ctx-menu {
  width: 100%; 
  height: calc(100% - var(--windowMarginTop)); 

  position: fixed;
  top: var(--windowMarginTop);  
  
  display: flex; 
  flex-direction: column; 
  
  z-index: 99998;
}

.o-ctx-menu > div {
  --oWidth: 200px;
  --oCorner: 15px;
  --oGap: 5px;
  --oBackground: var(--button);

  height: fit-content;
  
  padding: calc(var(--oCorner) / 2) 0 var(--oCorner) 0;
  
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: var(--oGap);

  text-align: center;
  visibility: hidden;

  box-shadow: var(--shadowB);
}

.o-ctx-menu > div > span:first-child {
  padding-bottom: calc(var(--oCorner) / 2 - var(--oGap));
}

.o-ctx-item {
  width: 170px;
  height: 30px;

  position: relative;
  padding: 5px 15px;

  line-height: 30px;

  display: flex;
  flex-direction: row;

  color: var(--text);
  fill: var(--text);
  
  overflow: hidden;
  transition: all .2s, visibility 0s;
}

.o-ctx-item:hover {
  background: var(--hover);
}





 /*$$$$$$  /$$           /$$                    
| $$__  $$|__/          | $$                    
| $$  \ $$ /$$  /$$$$$$ | $$  /$$$$$$   /$$$$$$ 
| $$  | $$| $$ |____  $$| $$ /$$__  $$ /$$__  $$
| $$  | $$| $$  /$$$$$$$| $$| $$  \ $$| $$  \ $$
| $$  | $$| $$ /$$__  $$| $$| $$  | $$| $$  | $$
| $$$$$$$/| $$|  $$$$$$$| $$|  $$$$$$/|  $$$$$$$
|_______/ |__/ \_______/|__/ \______/  \____  $$
                                       /$$  \ $$
                                      |  $$$$$$/
                                       \_____*/

.o-dialog {
  width: 100%; 
  height: calc(100% - var(--windowMarginTop)); 
  
  margin-top: var(--windowMarginTop); 
  
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  animation: dialogAppear .2s;
  z-index: 99996;

  transition: opacity .2s;
}

@keyframes dialogAppear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.o-dialog[hidden] {
  opacity: 0;
  pointer-events: none;
}

.o-dialog::before {
  content: '';
  --height: min(10px, var(--windowMarginTop));

  width: 100%;
  height: var(--height);

  position: absolute;
  top: calc(-1 * var(--height));
  left: 0;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%);

  pointer-events: none;
}

.o-dialog > div {
  width: fit-content; 
  max-width: calc(100% - 40px); 
  height: fit-content; 
  max-height: calc(100% - 40px); 

  margin: auto; 

  display: flex;
  flex-direction: column;
  
  background: var(--menu); 
  border-radius: 15px; 
  
  box-shadow: var(--shadowB); 
  overflow: hidden;
}

/* Title bar */
.o-dialogTop {
  width: calc(100% - 20px); 
  height: 45px;
  min-height: 45px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  position: relative;
}

.o-dialogTopTitle {
  width: 100%; 
  line-height: 45px;
  position: absolute; 
  top: 0; 
  left: 0; 
  text-align: center; 
  pointer-events: none;
}

.o-dialogTopButton {
  width: 50px;
  height: 25px;

  border-radius: 10px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  cursor: pointer;
  transition: background-color .2s;
}

.o-dialogTopButton:hover {
  background-color: var(--windowButtonHover);
}

.o-dialogTopButtonExit:hover {
  background-color: var(--windowExitHover);
}

/* Content window */
.o-dialogWindow {
  min-width: 200px; 
  min-height: 100px;

  display: flex;
  flex-direction: column;

  overflow: auto; 
}

/* Dialog builder content */
.o-dialogContent {
  width: 500px; 
  max-width: 500px; 
  
  padding: 10px 20px 20px 20px; 

  display: flex;
  flex-direction: column;

  position: relative; 

  text-align: center; 
}

/* ASCII font: https://patorjk.com/software/taag/#p=display&f=Big%20Money-ne */