html {
  /* Theme */
  --background: #9F98CF;

  /* Scrollbar */
  --scrollbar: #7a74b4;
  --scrollbarThumb: #7a74b469;
  
  /*Colors*/
  --accent: #3683E7;
  --success: #00e732;
  --danger: #ED2A37;
  --warning: #ffba00;
  --progress: #C7C9CA;
  
  /* Text */
  --text: #f5f5f5;
  --textSecondary: #bfbbf8;

  /* Buttons */
  --button: #8079C4;
  --buttonIconFilter: brightness(0) invert();

  /* Window */
  --windowButtonHover: #3683E7;
  --windowExitHover: #ED2A37;

  /* Modules */
  --moduleSelectedFilter: invert(56%) sepia(66%) saturate(958%) hue-rotate(207deg) brightness(82%) contrast(85%);
}