html {
  /* Theme */
  --background: #101710;
  
  /* Scrollbar */
  --scrollbar: #04FF0569;
  --scrollbarThumb: #04FF05;
  
  /*Colors*/
  --accent: #00bd00;
  --success: #04FF05;
  --danger: #C70039;
  --warning: #ffba00;
  --progress: #C7C9CA;

  /* Text */
  --text: #04FF05;
  --textSecondary: #008f00;
  
  /* Buttons */
  --button: #102A10;
  --buttonBorderColor: #04FF05;
  --buttonBorderWidth: 1px;
  --buttonIconFilter: brightness(0) saturate(100%) invert(64%) sepia(88%) saturate(3051%) hue-rotate(79deg) brightness(113%) contrast(131%);

  /* Window */
  --windowButtonHover: #194219;
  --windowExitHover: #009101;

  /* Modules */
  --moduleSelectedFilter: invert(12%) sepia(50%) saturate(585%) hue-rotate(71deg) brightness(96%) contrast(97%);
}