html {
  /*THEME*/
  --menu: #102A10;
  --background: #101710;
  --scrollbar: #04FF05;
  --accent: #00bd00;
  --success: #04FF05;
  --danger: #C70039;
  --warning: #ffba00;
  --progress: #C7C9CA;
  /*TEXT*/
  --textTitleBar: #04FF05;
  --textPrimary: #04FF05;
  --textSecondary: #008f00;
  /*TITLE BAR BUTTONS*/
  --topText: #04FF05;
  --topHover: #194219;
  --topExitHover: #009101;
  /*MODULE*/
  --module: #144d14;
  --moduleFilter: brightness(0) saturate(100%) invert(64%) sepia(88%) saturate(3051%) hue-rotate(79deg) brightness(113%) contrast(131%);
  --moduleCorner: 10px;
  /*BUTTON*/
  --button: #102A10;
  --buttonBorderColor: #04FF05;
  --buttonBorderWidth: 1px;
  --buttonCorner: 10px;
}