html {
  /* Theme */
  --background: linear-gradient(#38151C, #070B14 75%);

  /* Scrollbar */
  --scrollbar: #7e0d0e69;
  --scrollbarThumb: #7e0d0e;
  
  /*Colors*/
  --accent: #7e0d0e;
  --success: #2fd619;
  --danger: #b91214;
  --warning: #e2b22c;
  --progress: #C7C9CA;

  /* Text */
  --text: #f5f5f5;
  --textSecondary: #cacaca;
  
  /* Buttons */
  --button: #181B22;
  --buttonBorderColor: #7E0D0E;
  --buttonBorderWidth: 1px;
  --buttonIconFilter: brightness(0) invert();

  /* Window */
  --windowButtonHover: #5c0f10;
  --windowExitHover: #b90609;

  /* Modules */
  --moduleSelectedFilter: invert(6%) sepia(4%) saturate(5212%) hue-rotate(185deg) brightness(91%) contrast(90%);
}