html {
  /*THEME*/
  --menu: #181b22;
  --background: linear-gradient(#38151C, #070B14 75%);
  --scrollbar: #7e0d0e;
  --scrollbar2: #7e0d0e69;
  --accent: #7e0d0e;
  --success: #2fd619;
  --danger: #b91214;
  --warning: #e2b22c;
  --progress: #C7C9CA;
  /*TEXT*/
  --text1: #f5f5f5;
  --text2: #cacaca;
  /*BUTTON*/
  --button: #181B22;
  --buttonBorderColor: #7E0D0E;
  --buttonBorderWidth: 1px;
  /*MODULE*/
  --module: #5b2326;
  --moduleFilter: brightness(0) invert(1);
  /*TITLE BAR BUTTONS*/
  --topText: #68D8D5;
  --topHover: #5c0f10;
  --topExitHover: #b90609;
}