html {
  /* Theme */
  --background: #FFFFFF;
  
  /* Scrollbar */
  --scrollbar: #dddddd;
  --scrollbarThumb: #c0c0c0;
  
  /*Colors*/
  --accent: #ff7d7d;
  --success: #00e732;
  --danger: #ED4245;
  --warning: #ffba00;
  --progress: #C7C9CA;

  /* Text */
  --text: #060607;
  --textSecondary: #72767D;
  
  /* Buttons */
  --button: #dddddd;
  --buttonIconFilter: brightness(0);

  /* Window */
  --windowButtonHover: #c9c9c9;
  --windowExitHover: #ED4245;

  /* Other */
  --hover: #00000010;
}