html {
  /*THEME*/
  --menu: #010F1D;
  --background: linear-gradient(#010F1D, #001C32 75%);
  --scrollbar: #A1792E;
  --scrollbar2: #A1792E69;
  --accent: #323942;
  --success: #00d12d;
  --danger: #da0b0b;
  --warning: #ffba00;
  --progress: #C7C9CA;
  /*TEXT*/
  --text1: #f5f5f5;
  --text2: #ada27d;
  /*BUTTON*/
  --button: #1E2328;
  --buttonBorderColor: #A1792E;
  --buttonBorderWidth: 2px;
  /*MODULE*/
  --module: #31373b;
  --moduleFilter: brightness(0) invert(1);
  /*TITLE BAR BUTTONS*/
  --topText: #CDBE91;
  --topHover: #282e35;
  --topExitHover: #da0b0b;
}