html {
  /* Theme */
  --background: radial-gradient(circle, #921e52 0%, #252933 75%);
  
  /* Scrollbar */
  --scrollbar: #ea0f9369;
  --scrollbarThumb: #ea0f93;
  
  /*Colors*/
  --accent: #c20074;
  --success: #00d12d;
  --danger: #C70039;
  --warning: #ffba00;
  --progress: #C7C9CA;

  /* Text */
  --text: #f5f5f5;
  --textSecondary: #adadad;
  
  /* Buttons */
  --button: #181B22;
  --buttonBorderColor: #ea0f93;
  --buttonBorderWidth: 1px;
  --buttonIconFilter: brightness(0) invert();

  /* Window */
  --windowButtonHover: #5c0f10;
  --windowExitHover: #b90609;

  /* Modules */
  --moduleSelectedFilter: invert(8%) sepia(9%) saturate(1468%) hue-rotate(184deg) brightness(97%) contrast(94%);
}