html {
  /*THEME*/
  --menu: #181B22;
  --background: radial-gradient(circle, #921e52 0%, #252933 75%);
  --scrollbar: #181B22;
  --accent: #c20074;
  --success: #00d12d;
  --danger: #C70039;
  --warning: #ffba00;
  --progress: #C7C9CA;
  /*TEXT*/
  --text1: #f5f5f5;
  --text2: #adadad;
  --text3: #f5f5f5;
  /*BUTTON*/
  --button: #181B22;
  --buttonBorderColor: #ea0f93;
  --buttonBorderWidth: 1px;
  --buttonCorner: 10px;
  /*TITLE BAR BUTTONS*/
  --topText: #0DF8FB;
  --topHover: #232833;
  --topExitHover: #ED2A37;
  /*MODULE*/
  --module: #232833;
  --moduleFilter: brightness(0) invert(1);
  --moduleCorner: 10px;
}