html {
  /* Theme */
  --background: url('./Data/Theme/bg.png') no-repeat center / cover, linear-gradient(#34a7a7, #34a7a7 75%);
  --menu: #34a7a7;
  
  /* Scrollbar */
  --scrollbar: #277c7d;
  --scrollbarThumb: #d1ffff;
  
  /*Colors*/
  --accent: #cc1d4e;
  --success: #00a023;
  --danger: #af0636;
  --warning: #ce9700;
  --progress: #C7C9CA;

  /* Text */
  --text: #f5f5f5;
  --textSecondary: #C7C9CA;
  
  /* Buttons */
  --button: #1b4444;
  --moduleFilter: brightness(0) invert();

  /* Window */
  --windowButtonHover: #2a2e33;
  --windowExitHover: #9530b4;

  /* Other */
  --hover: #ffffff00;

  /* Modules */
  --moduleSelectedFilter: invert(21%) sepia(6%) saturate(4737%) hue-rotate(131deg) brightness(84%) contrast(82%);
}

/* Hover color */
.o-ctx-item:hover,
.o-box:hover:not([transparent]) {
  --oBackground: #1c1c1c;
}