html {
  /*THEME*/
  --menu: #1e2023;
  --background: #18191c;
  --scrollbar: #f5f5f5;
  --scrollbar2: #f5f5f569;
  --accent: #cc1d4e;
  --success: #00a023;
  --danger: #af0636;
  --warning: #ce9700;
  --progress: #C7C9CA;
  /*TEXT*/
  --text1: #f5f5f5;
  --text2: #C7C9CA;
  /*BUTTON*/
  --button: #202225;
  /*MODULE*/
  --module: #2e3031;
  --moduleFilter: brightness(0) invert(1); /*https://angel-rs.github.io/css-color-filter-generator/*/
  /*TITLE BAR BUTTONS*/
  --topText: #f5f5f5;
  --topHover: #2a2e33;
  --topExitHover: #ED4245;
}