html {
  /* Theme */
  --background: #00030b;
  
  /* Scrollbar */
  --scrollbar: #342305;
  --scrollbarThumb: #c4b28e;
  
  /*Colors*/
  --accent: #8d5314;
  --success: #00d12d;
  --danger: #ED4245;
  --warning: #ffba00;
  --progress: #C7C9CA;

  /* Text */
  --text: #fcf0d0;
  --textSecondary: #8c8a6e;
  
  /* Buttons */
  --button: #342305;
  --buttonBorderColor: #c4b28e;
  --buttonBorderWidth: 2px;
  --buttonIconFilter: brightness(0) invert();

  /* Window */
  --windowButtonHover: #3f2b13;
  --windowExitHover: #ED4245;

  /* Modules */
  --moduleSelectedFilter: invert(12%) sepia(21%) saturate(1934%) hue-rotate(1deg) brightness(101%) contrast(96%);
}