html {
  /*THEME*/
  --menu: #1d1206;
  --background: #2e1d09;
  --scrollbar: #1d1206;
  --accent: #8d5314;
  --success: #00d12d;
  --danger: #ED4245;
  --warning: #ffba00;
  --progress: #C7C9CA;
  /*TEXT*/
  --text1: #f5f5f5;
  --text2: #adadad;
  --text3: #f5f5f5;
  /*BUTTON*/
  --button: #1d1206;
  --buttonBorderColor: #B9A17A;
  --buttonBorderWidth: 2px;
  --buttonCorner: 10px;
  /*TITLE BAR BUTTONS*/
  --topText: #F9FBFD;
  --topHover: #291909;
  --topExitHover: #ED4245;
  /*MODULE*/
  --module: #33200a;
  --moduleFilter: brightness(0) invert(1);
  --moduleCorner: 10px;
}

/*ADD MODULE BORDER*/
.module input:checked {
  outline: 2px solid #B9A17A;
  outline-offset: -2px;
}