html {
  /*THEME*/
  --menu: #1d1206;
  --background: #2e1d09;
  --scrollbar: #8d5314;
  --scrollbar2: #8d531469;
  --accent: #8d5314;
  --success: #00d12d;
  --danger: #ED4245;
  --warning: #ffba00;
  --progress: #C7C9CA;
  /*TEXT*/
  --text1: #f5f5f5;
  --text2: #adadad;
  /*BUTTON*/
  --button: #1d1206;
  --buttonBorderColor: #B9A17A;
  --buttonBorderWidth: 2px;
  /*MODULE*/
  --module: #322820;
  --moduleFilter: brightness(0) invert(1);
  /*TITLE BAR BUTTONS*/
  --topText: #F9FBFD;
  --topHover: #3f2b13;
  --topExitHover: #ED4245;
}