html {
  /* Theme */
  --background: linear-gradient(#000815, #46051D 75%);
  
  /* Scrollbar */
  --scrollbar: #DA132969;
  --scrollbarThumb: #DA1329;
  
  /*Colors*/
  --accent: #ad0d1f;
  --success: #00d12d;
  --danger: #DA1329;
  --warning: #ffba00;
  --progress: #C7C9CA;

  /* Text */
  --text: #FFF4ED;
  --textSecondary: #da8a94;
  
  /* Buttons */
  --button: #000d22;
  --moduleFilter: brightness(0) invert();

  /* Window */
  --windowButtonHover: #2f0838;
  --windowExitHover: #DA1329;

  /* Other */
  --hover: #ffffff00;

  /* Modules */
  --moduleSelectedFilter: invert(4%) sepia(35%) saturate(5154%) hue-rotate(204deg) brightness(94%) contrast(103%);
}

/* Hover color */
.o-ctx-item:hover,
.o-box:hover:not([transparent]) {
  --oBackground: #DA1329;
}